*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    letter-spacing: -0.6px;
    font-family: "HeiT ASC Traditional Chinese", "M Hei PRC W45", "AXIS Font Japanese W55", "FB New Gothic", Swissra, "Gotham Medium", system, sans-serif;;
}

.photo{
    height: 100vh;
    width:100vw;
    background-image: url('https://www.tesla.com/ns_videos/homepage/main_hero_homepage_desktop.jpg');
    background-size:cover;
    position:relative

}
.menu {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    /* height: 4rem; */
    padding: 0 0 6vh 0;

}

.menu-items{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    display: flex;
    align-items: center;
    

} 

.menu-text{
    color:#ffffff;
    font-size:14px;
    text-decoration: none;
    align-items: center;
    padding:16px;

}

a.menu-text:hover{
    color:#D1D3D8;
    
}
.menu img.tesla-logo{
    padding:16px;  
}

.ham-logo {
    width: 22px;

}
.ham{
    justify-content: space-between;
    display: flex;
    align-items: center;

}


h1{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color:#ffffff;
    padding:20px;
       
}

.content{
    /* border:2px yellow solid; */
    height:50%;
    vertical-align: middle;
<<<<<<< HEAD
    
=======
    /* position: relative; */
>>>>>>> 3ca30c464d84ee48ffcc353548a0318fae6ac7a3

}

.buttons{
    /* border:2px green solid; */
    display:flex;
    justify-content: center;
    padding:10px;
    height:10vh;
    vertical-align: middle;
    
}

.large-buttons {
    /* border:purple 2px solid; */
    height:2vh;
    /* padding:0;
    vertical-align: bottom; */
    position: relative;
    top:10px;
    
}

.custom-order-mobile a{
    display:none;
}

.existing-inventory-mobile a{
    display:none;
}

.custom-order{
    vertical-align: middle;
    border:2px solid #ffffff;
    width:250px;
    height: 40px;
    border-radius:25px;
    margin:10px;
    background-color: #ffffff;
    color:#171A20;
    text-align: center;
    
}
.existing-inventory{
    vertical-align: middle;
    border:2px#ffffff solid;
    width:250px;
    height: 40px;
    border-radius:25px;
    margin:10px;
    background-color: none;
    text-align: center;
    
}

.custom-order a {
    text-decoration: none;
    color:#171A20;
    padding:10px 60px;
   
}

.existing-inventory a{
    text-decoration: none;
    color:#ffffff;
    padding:10px 40px;
  
}

.existing-inventory a:hover{
    color:#171A20;
    
}

.existing-inventory:hover{
    background-color: #ffffff;
}

.visit{
    /* border:2px green solid; */
    display:flex;
    justify-content: center;
    padding:10px;
    height:50%;
    vertical-align: middle;
    position: relative;
    top:1.5rem;
}



.visit-button{
    color:#ffffff;
    text-underline-position: under;
}

.visit-button:hover{
    border-bottom: 2px solid #ffffff;

}

.visit-mobile{
    display:none;
}


.circle div{
    /* border:orangered 1 px solid; */
    display:flex;
    justify-content: center;
    height:10vh;
    width:100%;
    text-decoration: none;
   

}

/* .circle {
    border:orangered 1 px solid;
    height:10vh;
} */

.controls{
    text-align: center;
    /* padding:10px; */
    height:10%;
    /* border:black 1px solid; */
    width:100%;

}


.controls .btn {
    color:#ffffff;
    text-decoration:none;
    text-align:center;
    font-size:40px;

}

.controls-mobile{
    visibility:hidden;
}

p{
    text-align: center;
    color:#ffffff;
    font-size:14px;
}
@media screen and (max-width:850px){

    .menu-text{
       display:none;
    
    }
    .large-buttons {
      display:none;
        
    }
     
    .custom-order{
        display:none;
    }

    .existing-inventory{
        display:none;
    }

    .buttons-mobile{
        /* border:2px white solid; */
        display:block;  
        text-align: right;
        /* justify-content:middle; */
        padding:10px;
        height:20vh;
        
        
    }

    .buttons-mobile div {
        text-align: -webkit-center ;
        vertical-align: middle ;
        
        
    }
    
    .large-buttons-mobile {
        /* border:purple 2px solid; */
        height:2vh;
        /* padding:0;
        vertical-align: bottom; */
        position: relative;
        top:10px;
        
    }
    
    .custom-order-mobile{
        vertical-align: middle;
        border:2px solid #ffffff;
        width:400px;
        height: 40px;
        border-radius:25px;
        margin:10px;
        background-color: #ffffff;
        color:#171A20;
        text-align: center;
        
    }
    .existing-inventory-mobile{
        vertical-align: middle;
        border:2px#ffffff solid;
        width:400px;
        height: 40px;
        border-radius:25px;
        margin:10px;
        background-color: none;
        text-align: center;
    }
    .custom-order-mobile a {
        text-decoration: none;
        color:#171A20;
        padding:10px 60px;
       
    }

    .custom-order-mobile a{
        display:inline;
    }
    
    .existing-inventory-mobile a{
        display:inline;
    }
    
    .existing-inventory-mobile a{
        text-decoration: none;
        color:#ffffff;
        padding:10px 120px;
      
    }
    .existing-inventory-mobile a:hover{
            color:#171A20;
            
        }
        
    .existing-inventory-mobile:hover{
            background-color: #ffffff;
        }

    .visit-button{
        display:none;
        }

    .visit-mobile{
        /* border:2px green solid; */
        display:inline;
        justify-content: middle;
        padding:0px;
        height:20%;
        vertical-align: middle;
        position: relative;
        text-align: -webkit-center;
        }

    div .visit-mobile {
        text-align: -webkit-center;
        font-size:14px;
       
    }

    div .visit-mobile a{
        color:#ffffff;
        text-underline-position: under;
    }

    div .visit-mobile a:hover{
        border-bottom: 2px solid #ffffff;
    }
    .visitastore-mobile { 
        
        text-align:-webkit-center;
    }

    .visit-button-mobile{
        
        text-align: center;
    }

    .controls{
        visibility: hidden;
    }
    .controls-mobile{
        visibility:visible;
        text-align: center;
    }

    .controls-mobile .btn{
        color:#ffffff;
        text-decoration: none;
        font-size:40px;
    }

    p{
        color:#ffffff
    }
    

}

